<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center nav">
        <a href="/about"class="link">About</a>
        <a href="/myresearch" class="link">My Research</a>
        <a href="/ct519" class="link">ct519</a>
        <a href="/" class="link">github</a>
    </div>
    <h2>from Web 1</h2>
    
</body>
</html>